body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f9;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.filters input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 400px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.chart-container {
  position: relative;
  height: 400px;
  width: 100%;
}

button {
  background-color: #4caf50;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  color: white;
}

#chartMessage {
  text-align: center;
  margin: 20px;
  display: none;
  font-size: 20px;
  color: #146ca7;
}
